*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
}

.clear{
    clear: both;
}

/* 
    Variaveis pré-definidas
*/

    a{
        text-decoration: none;
    }

        a>button.btnLogin{
            width: 200px;
            height: 40px;
            border-radius: 5px;
            font-size: 1.3rem;
            font-weight: 600;
            background-color: #065A60;
            color: #adb5bd;
        }

    ul>a>li{
        list-style: none;
        font-weight: 600;
    }
    .w100{
        width: 100%;
        height: 100%;
    }

    .w80{
        width: 80%;
        height: 100%;
    }

    .w60{
        width: 60%;
        height: 100%;
    }

    .w50{
        width: 50%;
        height: 100%;
    }

    .w40{
        width: 40%;
        height: 100%;
    }

    .w33{
        width: 33.3%;
        height: 100%;
    }

    .w20{
        width: 20%;
        height: 100%;
    }

    .redes{
        padding-top: 0 !important;
    }

    .titulo{
        font-size: 2rem;
        color:#adb5bd;
    }

    .txtcentro{
        text-align: center;
    }

    .centro{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dispFlex{
        display: flex;
    }

    .centrogrid{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .minipad{
        padding-top: 1rem;
    }

    .padtop{
        padding-top: 2rem;
    }

        .padtop2{
            padding-top: 4rem;
        }

    .padbottom{
        padding-bottom: 4rem;
    }

    .magbottom{
        margin-bottom: 2rem;
    }

    .magtop{
        margin-top: 0.50rem;
    }
    .magtop2{
        margin-top: 2rem;
    }

    .marge{
        margin: 0 4%;
    }

    .linkbool{
        margin: 0 4%;
    }

    .bool{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: aliceblue;
        color:#212F45;
        background-size: cover;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.50rem;
    }

    .bordertop{
        border-top: 1px solid #131313;
    }

/*
    Pagina inicial
*/

.paginicial{
    background-color: #065A60;
    color: #adb5bd;
    height: 100vh;
}

.paginicialCad{
    height: 100%;
    color: #adb5bd;
    background-color: #065A60;
}

.cadicon{
    position: relative;
}

.ulmenu>li>a>{
    font-size: 1rem !important;
}

nav.menu{
    height: 100vh;
    background-color: #212F45;
}

ul{
    height: 100%;
}

nav.menu>ul>a>li{
    height: 30px;
}

nav.menu>ul>a:hover{
    background-color: #adb5bd;
}

.nav-link{
    color: #adb5bd;
}

.nav-link{
    color: #adb5bd;
}
.logo{
    height: 50px;
}

.logo>h1{
    height: 100%;

}

.login{
    padding-top: 5%;
    background-color:#065A60 ;
    height: 100vh;
}

.inicio{
    height: 50px;
}

    .formcomentario>label{
        font-size: 1.40rem;
        color: #adb5bd;
    }

    .formcomentario>input{
        width: 400px;
        height: 40px;
        border-radius: 5px;
        border: none;
        padding-left: 10px;
        color: #065A60;
        font-weight: 600;
    }

    .formlogin input{
        width: 400px;
        height: 40px;
        border-radius: 5px;
        border: none;
        padding-left: 10px;
        color: #065A60;
        font-weight: 600;
    }
    
    .formlogin label{
        font-size: 1.40rem;
        color: #adb5bd;
    }

    .formlogin{
        width: 100%;
        height: 300px; 
    }

    .formlogin button.entrar{
        width: 400px;
        box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        height: 40px;
        border-radius: 5px;
        border: none;
        color: #adb5bd;
        font-weight: 600;
        background-color: #212F45;
    }

    .formlogin button.entrar:hover{
        background-color:white ;
        color: #212F45;
    }

    .links a>button.loginConta{
        width: 400px;
        box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        height: 40px;
        border-radius: 5px;
        border: none;
        color: #adb5bd;
        font-weight: 600;
        background-color: #212F45;
    }

    .links a>button.loginConta:hover{
        background-color:white ;
        color: #212F45;
    }

    .cadstyle{
        height: 400px;
    }

    .formcomentario button.entrar{
        width: 400px;
        box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        height: 40px;
        border-radius: 5px;
        border: none;
        color: #adb5bd;
        font-weight: 600;
        background-color: #212F45;
    }
    .formcadastro>button.solicitarConta:hover{
        background-color:white ;
        color: #212F45;
    }

/*
    Pagina de cadastro
*/

.cadastro{
    width: 100%;

}

.formcentro>form> label{
    font-size: 1.40rem;
    color: #adb5bd;
}

.formcentro>form> input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    color: #065A60;
    font-weight: 600;
}

.formCadastro{
    height: 100%;
    width: 100%;
}



.formcentro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a>button.volta{
    width: 400px;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #adb5bd;
    font-weight: 600;
    background-color: #212F45;
}

.solicitarConta{
    width: 400px;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #adb5bd;
    font-weight: 600;
    background-color: #212F45;
}

.cadastro>.links a>button.volta{
    width: 400px;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #adb5bd;
    font-weight: 600;
    background-color: #212F45;
}

.volta{
    width: 400px;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #adb5bd;
    font-weight: 600;
    background-color: #212F45;
}
.formcentro>form>button.solicitarConta:hover{
    background-color:white ;
    color: #212F45;
}

.links a>button.volta:hover{
    background-color:white ;
    color: #212F45;
}
    .paginacadastro{
        background-color:#065A60 ;
    }

    .menu-cadastro{
        width: 20%;
        overflow: hidden;
    }

    .cadastrar{
        width: 80%;
        height: 100%;

    }

    .menu{
        background-color: #212F45;
        position: fixed;
        overflow: hidden;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-transform: translateZ(0) scale(1,1);
        transform: translateZ(0) scale(1,1);
    }
    .menu > ul{
        margin: 5px 0;
    }
    .menu li{
        position: relative;
        display: block;
        width: 250px;
    }
    .menu li > a{
        position: relative;
        width: 255px;
        color: #8a8a8a;
        display: table;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1,1);
        transform: translateZ(0) scale(1,1);
        -webkit-transition: all 0.15s linear;
        transition: all 0.15s linear;
    }
    .menu .span-menu{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 180px;
    }
    .lista{
        background-color: #212F45;
        text-transform: capitalize;
    }

    .lista-logo{
        height: 70px;
        border-bottom: 1px solid #131313;
    }

    .lista-logo>a>span{
        font-size: 4rem;
        font-weight: 600;
        line-height: 60px;
    }

    .lista-logo>a>i{
        font-size: 2rem;
        line-height: 40px;
    }

    .lista-logo, .li-empresa, .li-contato{
        background-color: #212F45;
        text-transform: capitalize;
        border-bottom: 1px solid #131313;
    }
    /*
    .menu li:hover a, nav.menu li.active > a{
        color: #fff;
        background-color: #282828;
    }*/
    nav{
        -webkit-user-select: none;
        user-select: none;
        box-shadow: 0 0 10px #282828;
    }
    .fa{
        width: 60px;
        height: 40px;
        text-align: center;
        top: 12px;
    }
    /*
    .menu:hover, nav.menu.expanded{
        width: 250px;
        overflow: hidden;
    }*/
    .home{
        position: absolute;
        right: 1.4%;
        width: 80%;
        height: 100%;


    }

    .selectconta{
        height: 100px;
        color: #adb5bd;
        font-size: 1.30rem;
    }

    .caixa{
        width: 40px;
        height: 40px;
    }

.dashboard{
    background-color: #065A60;
    width: 100%;
    height: 100%;
    padding: 2% 2%;
}

.pai{
    padding-top: 4rem;
    display: block;
    width: 80%;
    background-color: #065A60;
}

.cards{
    width: 100%;
    justify-content: space-around;
}

.card{
    border-radius: 5px;
    font-size: 1.20rem;
    font-weight: 600;
    margin-top: 2%;
    width: 200px;
    height: 100px;
    background-color: #212F45;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    color: #8a8a8a;
}

.cards>a{
    margin-top: 2%;
}

.card:hover{
    background-color: rgb(203, 203, 203);
    color: #212F45; 
}

.menulateral{
    justify-content: left !important;
    width: 20%;
    height: 100vh;
    background-color: #212F45;
}

.menulateral ul>li{
    list-style: none;
}

.menulateral ul>li>a{
    align-items: center;
    color: #8a8a8a;
    display: table;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.dadosProfile{
    padding-left: 2rem;
    width: 100%;
    height: 150px;
    background-color: #8a8a8a;
}

.logoDash{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-top: 10px;
    margin-left: 1rem;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: #8a8a8a;
}

.imgperfil{
    text-align: left;
    margin-top: 2%;
    margin-right: 2%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
 
}

.imgperfil i{
    color: #212F45;
    margin-left: 2px;
    font-size: 5rem;
}

.dados{
    margin-top: 2%;

}

.dadosProfile{
    width: 100% !important;
}

.dadosSaldo{
    margin-top: 2rem;
}

.saldo{
    margin-right: 10px;
}

.ulmenu{
    padding-left: 0 !important;
    margin-top: 15px;
}


.beneficios{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: left;
    padding-left: 2rem;
    margin-top: 2rem;
}

.tituloDash{
    display: flex;
    justify-content: center;
}

.botaoVamos{
    display: block;
    width: 100%;
    height: 200px;

}

.solicite{
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-size: 1rem;
    color: #adb5bd;
    font-weight: 600;
    background-color: #212F45 ;
}

.tituloSolicite{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.botaoVamos>a>.solicite:hover{
    background-color: aliceblue;
    color: #212F45;
}

.beneficio{
    display: block !important;
    height: 100%;
}

.inicioB{
    height: 50px;
}

.homeBeneficio{
    height: 100%;
}

.beneficioP{
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    text-align: justify;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
}

.titulobeneficio{
    color: white;

}


.formcomentario{
    height: 300px;
    margin-top: 3rem;
}

.formcomentario textarea{
    border-radius: 5px;
    height: 70px;
    padding-left: 10px;
    color: #065A60;
    font-weight: 600;
}

.divTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tituloMen{
    font-size: 1.20rem;
    width: 800px;
}

.develoP{
    width: 100%;
    color: #212F45;
    height: 40px;
    font-size: 4rem;
}

.develoPtxt{
    text-align: left;
}

.develoPtxt h4{
    width: 500px;
    padding-left: 2rem;
}

.develoPtxt p{
    width: 900px;
    padding-left: 2rem;
}

.contatoArt a{
    color: #adb5bd;

}

.contatoArt a:hover{
    color: #212F45;
}

.contatoArt{
    color: #adb5bd;
    font-size: 1.40rem;
    text-align: center;
}

.homeContato{
    height: 500px;
}

.formTed{
    height: 400px;
}

.formTed label{
    color: #202020;
}

.formTed input,select{
    color: #065A60;
}

.formTed input{
    padding-left: 0.70rem;
}

.formTed input,select,button{
    border-radius: 5px;
    height: 40px;
}

.formTed label,input,select,button{
    font-size: 1.20rem;
    font-weight: 600;
    border: none;
}


.formTed>.centro{
    width: 100%;
}

.formTed>.centro> button{
    width: 300px;
    background-color: #212F45;
    color: #adb5bd;
    border: none;
}

.botaoVlt{
    margin-left: 10px;
}

.formTed>.centro> button:hover{
    background-color: #ededed;
    color: #212F45;

}

.dadosTed{
    width: 100% max-content;
}

.ted>.centro> a>button{
    width: 300px;
    background-color: #212F45;
    color: #adb5bd;
    border: none;  
}

.ted>.centro> a>button:hover{
    background-color: #ededed;
    color: #212F45;
}

.paiTed{
    width: 80%;
    background-color: #065A60;
    height: 100%;
    position: relative;
    right: 0 !important;
}

.dadosProfileTed{
    margin-top: 1rem;
    padding-left: 2rem;
    height: 150px;
    background-color: #8a8a8a;
}

.alturatelaTed{
    height: 100vh;
    background-color: #065A60;
}